{% set searchData = [
	{
	"title": "wszystkie kategorie"
	},
	{
	"title": "AGD"
	},
	{
	"title": "RTV i Telewizory"
	},
	{
	"title": "Komputery i tablety"
	},
	{
	"title": "Konsole i gry"
	},
	{
	"title": "Telefony i smartfony"
	},
	{
	"title": "Foto i kamery"
	},
	{
	"title": "AGD do zabudowy"
	}
]%}

<div class="b-header_search js-search_suggestionPlace">
	{% include '_modules/search/search.html.twig' 
		with {'searchData': searchData, 'searchPlaceholder': 'czego szukasz?', 'searchBtn': 'szukaj'}
	%}
</div>