<div class="b-footer_copy clearfix" >
	<p class="a-typo a-typo_tertiary" >2016 Camper</p >
	<p class="a-typo a-typo_small" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab pariatur
		consectetur, reprehenderit laudantium, fugit nemo? Temporibus nulla cum unde, suscipit fugiat ducimus dicta quas
		consectetur, vero dolore accusantium odit nisi.</p >
    <a href="#" class="b-footer_socialItem"><i class="fa fa-facebook"></i></a>
	<a href="#" class="b-footer_socialItem"><i class="fa fa-twitter"></i></a>
	<a href="#" class="b-footer_socialItem"><i class="fa fa-google"></i></a>
</div >