.m-label {
	display: flex;
	margin: 0 2px; 
	padding: 6px 10px;
	padding: 2px 8px;
	background: #337ab7;
	background: #d9534f;
	background: #f0ad4e;
	background: #5cb85c; 
	font-size: 12px;
	font-size: 10px;
	font-size: 10px;   
	font-weight: 700;
	line-height: 13px;
	line-height: 19px;
	text-align: center; 
	cursor: default;
	cursor: default;
	pointer-events: none
}
