 @import "_vars/*.scss";
 @import "_defaults/*.scss";
 body {
	font-family: Arial;
	font-size: 12px;
	font-size: 12px; 
	line-height: 18px;
	text-decoration: none 
}
@import "modules/*.scss";
@import "blocks/*.scss"; 
.b-mainContent {
	display: block; 
	max-width: 1200px;
	margin: 0 auto; 
}    