<p>
	Style dla buttonow znajdują się w pliku
	<code>common/modules/_btn.scss</code>
</p>
<ul class="g-pb30">
	<li><code>m-btn m-btn_primary</code> - wykonują akcję zakupową (dodaj do koszyka, kroki zakupowe w koszyku)</li>
	<li><code>m-btn m-btn_secondary</code> - normalne akcje typu: submitowanie wszystkich formularzy (kliknięcie nie jest obciążone decyzją zakupową), buttony edycji etc.</li>
	<li><code>m-btn m-btn_tertiary</code> - najmniej istotne akcje w serwisie - np. wyloguj się w koncie
	</li>
	<li><code>m-btn m-btn_link</code> - zwykłe linki textowe - np. przycisk powrotu.
	</li>
</ul>

<div class="b-ui_elementItem">
	<p class="m-typo m-typo_tertiary">
		Default size
	</p>
	<p>
		<a href="#" class="m-btn m-btn_primary">Add to cart</a>
	</p>
	<pre class="line-numbers"><code class="language-twig"><textarea><a href="#" class="m-btn m-btn_primary">Add to cart</a></textarea></code></pre>
</div>
<div class="b-ui_elementItem">
	<p class="m-typo m-typo_tertiary">
		Big size
	</p>
	<p>
		<a href="#" class="m-btn m-btn_secondary m-btn_big">Add to cart</a>
	</p>
	<pre class="line-numbers"><code class="language-twig"><textarea><a href="#" class="m-btn m-btn_secondary m-btn_big">Add to cart</a></textarea></code></pre>
</div>
<div class="b-ui_elementItem">
	<p class="m-typo m-typo_tertiary">
		Small size
	</p>
	<p>
		<a href="#" class="m-btn m-btn_tertiary m-btn_small">Add to cart</a>
	</p>
	<pre class="line-numbers"><code class="language-twig"><textarea><a href="#" class="m-btn m-btn_tertiary m-btn_small">Add to cart</a></textarea></code></pre>
</div>
<div class="b-ui_elementItem">
	<p class="m-typo m-typo_tertiary">
		Link
	</p>
	<p>
		<a href="#" class="m-btn m-btn_link">More</a>
	</p>
	<pre class="line-numbers"><code class="language-twig"><textarea><a href="#" class="m-btn m-btn_link">More</a></textarea></code></pre>
</div>
<div class="b-ui_elementItem">
	<p class="m-typo m-typo_tertiary">
		Button with icon
	</p>
	<p>
		<a href="#" class="m-btn m-btn_primary m-btn_small">Add to cart <i class="fa fa-shopping-cart g-ml5"></i></a>
	</p>
	<pre class="line-numbers"><code class="language-twig"><textarea><a href="#" class="m-btn m-btn_primary m-btn_small">Add to cart <i class="fa fa-shopping-cart g-ml5"></i></a></textarea></code></pre>
</div>

<p class="m-typo m-typo_secondary g-pt20 g-pb10">Animated buttons</p>
<p class="m-typo m-typo_tertiary g-pb20">Primary</p>
<p><code>.m-btn_animationName</code></p>
<div class="g-mb10">
	<a href="#" class="m-btn m-btn_primary m-btn_fade">fade</a>
	<a href="#" class="m-btn m-btn_primary m-btn_swipeToRight">swipeToRight</a>
	<a href="#" class="m-btn m-btn_primary m-btn_swipeToLeft">swipeToRight</a>
	<a href="#" class="m-btn m-btn_primary m-btn_swipeToBottom">swipeToBottom</a>
	<a href="#" class="m-btn m-btn_primary m-btn_swipeToTop">swipeToTop</a>
</div>
<div class="g-mb10">
	<a href="#" class="m-btn m-btn_primary m-btn_shutterInHorizontal">shutterInHorizontal</a>
	<a href="#" class="m-btn m-btn_primary m-btn_shutterOutHorizontal">shutterOutHorizontal</a>
</div>
<div class="g-mb10">
	<a href="#" class="m-btn m-btn_primary m-btn_fade m-btn_iconMove">fade + iconMove <i class="fa fa-arrow-circle-o-right g-ml5"></i></a>
	<a href="#" class="m-btn m-btn_primary m-btn_fade m-btn_iconZoom">fade + iconZoom <i class="fa fa-plus-circle g-ml5"></i></a>
	<a href="#" class="m-btn m-btn_primary m-btn_fade m-btn_iconSpin">fade + iconSpin <i class="fa fa-spinner g-ml5"></i></a>
</div>

<p class="m-typo m-typo_tertiary g-pt20 g-pb20">Secondary</p>
<p><code>.m-btn_animationName</code></p>
<div class="g-mb10">
	<a href="#" class="m-btn m-btn_secondary m-btn_fade">fade</a>
	<a href="#" class="m-btn m-btn_secondary m-btn_swipeToRight">swipeToRight</a>
	<a href="#" class="m-btn m-btn_secondary m-btn_swipeToLeft">swipeToRight</a>
	<a href="#" class="m-btn m-btn_secondary m-btn_swipeToBottom">swipeToBottom</a>
	<a href="#" class="m-btn m-btn_secondary m-btn_swipeToTop">swipeToTop</a>
</div>
<div class="g-mb10">
	<a href="#" class="m-btn m-btn_secondary m-btn_shutterInHorizontal">shutterInHorizontal</a>
	<a href="#" class="m-btn m-btn_secondary m-btn_shutterOutHorizontal">shutterOutHorizontal</a>
</div>
<div class="g-mb10">
	<a href="#" class="m-btn m-btn_secondary m-btn_fade m-btn_iconMove">fade + iconMove <i class="fa fa-arrow-circle-o-right g-ml5"></i></a>
	<a href="#" class="m-btn m-btn_secondary m-btn_fade m-btn_iconZoom">fade + iconZoom <i class="fa fa-plus-circle g-ml5"></i></a>
	<a href="#" class="m-btn m-btn_secondary m-btn_fade m-btn_iconSpin">fade + iconSpin <i class="fa fa-spinner g-ml5"></i></a>
</div>
