<div class="b-col_2">
	{% include 'customer/registration/register-loader.html.twig' %}
	<div class="g-pb100" style="max-width: 200px">
		<p class="g-pb10">Select</p>
		<select class="js-select">
			<option value="1">PL</option>
			<option value="2">DE</option>
			<option value="3">EN</option>
		</select>
	</div>
</div>
