<table class="m-table m-table_ui">
	<tr>
		<td>Typ</td>
		<td>Primary</td>
		<td>Secondary</td>
		<td>Tertiary</td>
	</tr>
	<tr>
		<td><code>m-label</code></td>
		<td><p class="m-label m-label_primary">Promo</p></td>
		<td><p class="m-label m-label_secondary">NEW</p></td>
		<td><p class="m-label m-label_tertiary">Bestseller</p></td>
	</tr>
	<tr>
		<td><code>m-label_big</code></td>
		<td><p class="m-label m-label m-label_primary m-label_big">Promo</p></td>
		<td><p class="m-label m-label_secondary m-label_big">NEW</p></td>
		<td><p class="m-label m-label_tertiary m-label_big">Bestseller</p></td>
	</tr>
	<tr>
		<td><code>m-label_small</code></td>
		<td><p class="m-label m-label m-label_primary m-label_small">Promo</p></td>
		<td><p class="m-label m-label_secondary m-label_small">NEW</p></td>
		<td><p class="m-label m-label_tertiary m-label_small">Bestseller</p></td>
	</tr>
</table>
