<table class="m-table m-table_bordered m-table_strip">
	<tr>
		<th>Lp.</th>
		<th>Numer</th>
		<th class="g-hidden-xs">Data</th>
		<th>Wartość</th>
		<th class="g-hidden-xs">Koszt dostawy</th>
		<th class="g-hidden-xs">Status</th>
		<th>Szczegóły</th>
	</tr>
	<tr>
		<td>1.</td>
		<td><a href="#">Zamówienie nr 20651467</a></td>
		<td class="g-hidden-xs">2014-08-29 12:19:14</td>
		<td>399.00 zł</td>
		<td class="g-hidden-xs">0.00 zł</td>
		<td class="g-hidden-xs">Zrealizowano </td>
		<td><a href="#">Zobacz szczegóły</a></td>
	</tr>
	<tr>
		<td>2.</td>
		<td><a href="#">Zamówienie nr 20651467</a></td>
		<td class="g-hidden-xs">2014-08-29 12:19:14</td>
		<td>399.00 zł</td>
		<td class="g-hidden-xs">0.00 zł</td>
		<td class="g-hidden-xs">Niezrealizowano </td>
		<td><a href="#">Zobacz szczegóły</a></td>
	</tr>
	<tr>
		<td>3.</td>
		<td><a href="#">Zamówienie nr 20651467</a></td>
		<td class="g-hidden-xs">2014-08-29 12:19:14</td>
		<td>399.00 zł</td>
		<td class="g-hidden-xs">0.00 zł</td>
		<td class="g-hidden-xs">Niezrealizowano </td>
		<td><a href="#">Zobacz szczegóły</a></td>
	</tr>
	<tr>
		<td>4.</td>
		<td><a href="#">Zamówienie nr 20651467</a></td>
		<td class="g-hidden-xs">2014-08-29 12:19:14</td>
		<td>399.00 zł</td>
		<td class="g-hidden-xs">0.00 zł</td>
		<td class="g-hidden-xs">Niezrealizowano </td>
		<td><a href="#">Zobacz szczegóły</a></td>
	</tr>
</table>
