<p>
	Style dla modułu typografi znajdują się w pliku
	<code>common/modules/_typo.scss</code>, mixiny definiowane są w
	<code>_typography.scss</code>
</p>
<br>
<div class="b-ui_elementItem">
	<p class="m-typo m-typo_primary">Lorem ipsum dolor sit amet.</p>
	<p class="m-typo m-typo_secondary">Lorem ipsum dolor sit amet.</p>
	<p class="m-typo m-typo_tertiary">Lorem ipsum dolor sit amet.</p>

<pre class="line-numbers">
<code class="language-twig"><textarea>
<p class="m-typo m-typo_primary">Lorem ipsum dolor sit amet.</p>
<p class="m-typo m-typo_secondary">Lorem ipsum dolor sit amet.</p>
<p class="m-typo m-typo_tertiary">Lorem ipsum dolor sit amet.</p></textarea>
</code></pre>
</div>

<div class="b-ui_elementItem">
	<p class="m-typo m-typo_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<pre class="line-numbers"><code class="language-twig"><textarea><p class="m-typo m-typo_text">Lorem ipsum dolor sit amet.</p></textarea></code></pre>
</div>
<div class="b-ui_elementItem">
	<ul class="m-typo m-typo_list">
		<li>Możliwość śledzenia statusu zamówienia</li>
		<li>Dostęp do historii zamówień</li>
		<li>Schowek na produkty</li>
	</ul>
	<pre class="line-numbers"><code class="language-twig"><textarea>
<ul class="m-typo m-typo_list">
	<li>Możliwość śledzenia statusu zamówienia</li>
	<li>Dostęp do historii zamówień</li>
	<li>Schowek na produkty</li>
</ul>
</textarea></code></pre>
</div>

<div class="b-ui_elementItem">
	<ol class="m-typo m-typo_list">
		<li>Ordered</li>
		<li>Możliwość śledzenia statusu zamówienia</li>
		<li>Dostęp do historii zamówień</li>
		<li>Schowek na produkty</li>
	</ol>
	<pre class="line-numbers"><code class="language-twig"><textarea>
<ol class="m-typo m-typo_list">
	<li>Możliwość śledzenia statusu zamówienia</li>
	<li>Dostęp do historii zamówień</li>
	<li>Schowek na produkty</li>
</ol>
</textarea></code></pre>
</div>
