/*
Reset / Utility classes
======
### _base2.0.scss
Reset based on html5 boilerplate and normalize.css

*/

/**
 ### 1. html
<code>
	html {
		font-family: sans-serif;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-webkit-overflow-scrolling: touch;
		-webkit-font-smoothing: antialiased;
		height: 100%;
	}
</code>

*/

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	font-family: sans-serif;
}

/**
 ### 2. body
<code>
	body {
		margin: 0;
		height: 100%;
	}
</code>

*/

body {
	height: 100%;
	margin: 0;
}

/**
 ### 3. all elements
<code>
	"*" {
		margin: 0;
		padding: 0;
	}
</code>

*/

* {
	margin: 0;
	padding: 0;
}

/**
 ### 4. Reset global (based on eric mayer reset)
<code>
	html,
	body,
	div,
	span,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	code,
	del,
	dfn,
	em,
	img,
	q,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td {
		border: 0;
		font-family: inherit;
		font-size: 100%;
		font-weight: inherit;
		font-style: inherit;
		vertical-align: baseline;
		margin: 0;
		padding: 0;
		outline: 0;
	}
</code>

*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

/**
 ### 5. HTML5 display definitions
 Correct `block` display not defined for any HTML5 element in IE 8/9. <br>
 Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.<br>
 Correct `block` display not defined for `main` in IE 11.<br>

<code>
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	main,
	menu,
	nav,
	section,
	summary {
		display: block;
	}
</code>

*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 ### 6. inline-block
 Correct `inline-block` display not defined in IE 8/9. <br>
 Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.<br>

<code>
	audio,
	canvas,
	progress,
	video {
		display: inline-block;
		vertical-align: baseline;
	}
</code>

*/

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}


/**
 ### 7. audio element
 Prevent modern browsers from displaying `audio` without controls. <br>
 Remove excess height in iOS 5 devices.<br>

<code>
	audio:not([controls]) {
		display: none;
		height: 0;
	}
</code>

*/

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 ### 8. hidden
 Address `[hidden]` styling not present in IE 8/9/10. <br>
 Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.<br>

<code>
	[hidden],
	template {
		display: none;
	}
</code>

*/

[hidden],
template {
	display: none;
}

/**
 ### 9. links
 Remove the gray background color from active links in IE 10. <br>
 Improve readability when focused and also mouse hovered in all browsers.

<code>
	a {
		background: transparent;
	}
	a:active,
	a:hover {
		outline: 0;
	}
</code>

*/

a {
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}


/**
 ### 10. Text-level semantics
 - abbr[title] / Address styling not present in IE 8/9/10/11, Safari, and Chrome. <br>
 - b, strong / Address style set to `bolder` in Firefox 4+, Safari, and Chrome. <br>
 - dfn / Address styling not present in Safari and Chrome. <br>
 - mark / Address styling not present in IE 8/9. <br>
 - small / Address inconsistent and variable font size in all browsers. <br>
 - sub, sup / Prevent `sub` and `sup` affecting `line-height` in all browsers. <br>

<code>
	abbr[title] {
		border-bottom: 1px dotted;
	}
	b,
	strong {
		font-weight: bold;
	}
	dfn {
		font-style: italic;
	}
	mark {
		background: #ff0;
		color: #000;
	}
	small {
		font-size: 80%;
	}
	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	sup {
		top: -0.5em;
	}
	sub {
		bottom: -0.25em;
	}
</code>
*/

/**
 ### 11. images
 Remove border when inside `a` element in IE 8/9/10.

<code>
	img {
		border: 0;
	}
</code>
*/

img {
	border: 0;
}

/**
 ### 12. svg
 Correct overflow not hidden in IE 9/10/11.

<code>
	svg:not(:root) {
		overflow: hidden;
	}
</code>
*/

svg:not(:root) {
	overflow: hidden;
}

/**
 ### 13. Grouping content
 - hr / Address differences between Firefox and other browsers. <br>
 - pre / Contain overflow in all browsers. <br>
 - code, kbd, pre, samp / Address odd `em`-unit font size rendering in all browsers. <br>


<code>
	hr {
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		height: 0;
	}
	pre {
		overflow: auto;
	}
	code,
	kbd,
	pre,
	samp {
		font-family: monospace, monospace;
		font-size: 1em;
	}
</code>
*/

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 ### 14. Forms
 Known limitation: by default, Chrome and Safari on OS X allow very limited
 styling of `select`, unless a `border` property is set.
<br><br>
1./ <br>
- Correct color not being inherited.
- Known issue: affects color of disabled elements.
- Correct font properties not being inherited.
- Address margins set differently in Firefox 4+, Safari, and Chrome.
<br>
2./ <br>
- buttons / Address `overflow` set to `hidden` in IE 8/9/10/11.
<br>
3./ <br>
- Address inconsistent `text-transform` inheritance for `button` and `select`.
- All other form control elements do not inherit `text-transform` values.
- Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
- Correct `select` style inheritance in Firefox.

<code>
	1./ button,
	input,
	optgroup,
	select,
	textarea {
		color: inherit;
		font: inherit;
		margin: 0;
	}
	2./ button {
		overflow: visible;
	}
	3./ button,
	select {
		text-transform: none;
	}
</code>
*/

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

 button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
	cursor: pointer;
}

/**
 * Re-set default cursor for disabled elements.
 */
 button[disabled],
 input[disabled],
 select[disabled],
 textarea[disabled],
 input[readonly],
 select[readonly],
 textarea[readonly] {
 	cursor: default;
 }

/**
 * Remove inner padding and border in Firefox 4+.
 */

 button::-moz-focus-inner,
 input::-moz-focus-inner {
 	padding: 0;
 	border: 0;
 }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

 input {
 	font-family: Arial,sans-serif;
 	line-height: normal;
 }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

 input[type="checkbox"],
 input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
 	height: auto;
 }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

 input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
 	-webkit-appearance: none;
 }

/**
 * Define consistent border, margin, and padding.
 */

 fieldset {
 	margin: 0 2px;
 	padding: 0.35em 0.625em 0.75em;
 	border: 1px solid #c0c0c0;
 }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

 legend {
	padding: 0;
	border: 0;
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

 textarea {
 	overflow: auto;
 }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

 optgroup {
 	font-weight: bold;
 }

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 td,
 th {
 	padding: 0;
 }



/* Custom ENP declarations for links and images
========================================================================== */


a b {
	font-weight: bold;
}
a:hover {
	text-decoration: underline
}
img {
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
	border-width: 0;
	vertical-align: middle;
}
.ie8 img {
	width: auto;
}



/**********************************************************************************************
 *
 * START Default classes
 *
***********************************************************************************************/


/*clearfix - classic*/

.clearfix {
	clear: both;
	overflow: hidden;
}

/*clearfix - without overflow hidden*/

.clearfix2:before,
.clearfix2:after {
	display: table;
	height: 0;
	content: "";
}
.clearfix2:after {
	clear: both;
}
.clearfix2 {
	*zoom: 1;
}


/* declaration: lsn - list style none*/

.g-lsn {
	list-style: none;
}

/* declaration: debug - add red border to element*/

.g-debug {
	border:1px solid red;
}

/* declaration: fl - float, r-right; l-left; n-none*/

.g-flr {
	float: right !important;
}
.g-fll {
	float: left !important;
}
.g-fln {
	float: none !important;
}

/* declaration: pos - position, a - absolute; r-relative; s - static; f - fixed*/

.g-posa {
	position: absolute;
}
.g-posr {
	position: relative;
}
.g-poss {
	position: static;
}
.g-posf {
	position: fixed
}

/* declaration: d - display, n - none; b - block*/

.g-dn {
	display: none;
}
.g-db {
	display: block;
}

.g-dni {
	display: none !important;
}
.g-dbi {
	display: block !important;
}

/* declaration: v - visibility, a - absolute; r-relative; s - static; f - fixed*/

.g-vh {
	visibility: hidden;
}
.g-vv {
	visibility: visible;
}

/* declaration: ta - text-align*/

.g-tac {
	text-align: center;
}
.g-tal {
	text-align: left;
}
.g-tar {
	text-align: right;
}
.g-taj {
	text-align: justify;
}

/* declaration: fs - font-size */

.g-fs9  {
	font-size: 9px;
	line-height: 12px;
}
.g-fs10 {
	font-size: 10px;
	line-height: 13px;
}
.g-fs11 {
	font-size: 11px;
	line-height: 15px;
}
.g-fs12 {
	font-size: 12px;
	line-height: 17px;
}
.g-fs13 {
	font-size: 13px;
	line-height: 18px;
}
.g-fs14 {
	font-size: 14px;
	line-height: 19px;
}
.g-fs15 {
	font-size: 15px;
	line-height: 21px;
}
.g-fs16 {
	font-size: 16px;
	line-height: 22px;
}
.g-fs17 {
	font-size: 17px;
	line-height: 23px;
}
.g-fs17 {
	font-size: 18px;
	line-height: 24px;
}
.g-fs17 {
	font-size: 19px;
	line-height: 25px;
}
.g-fs17 {
	font-size: 20px;
	line-height: 26px;
}

/* declaration: b - border */

.g-b0 {
	border: 0px !important
}
.g-bl0 {
	border-left: 0px !important
}
.g-br0 {
	border-right: 0px !important
}
.g-bb0 {
	border-bottom: 0px !important
}
.g-bt0 {
	border-top: 0px !important
}

/* declaration: m - margin, a - auto*/

.g-ma {
	margin:  0 auto !important;
	float: none !important
}
.g-m0 {
	margin: 0px !important
}
.g-ml0 {
	margin-left: 0px !important
}
.g-mr0 {
	margin-right: 0px !important
}
.g-mb0 {
	margin-bottom: 0px !important
}
.g-mt0 {
	margin-top: 0px !important
}
.g-m5 {
	margin: 5px !important;
}
.g-m10 {
	margin: 10px !important
}
.g-m15 {
	margin: 15px !important;
}
.g-m20 {
	margin: 20px !important
}
.g-m25 {
	margin: 25px !important;
}
.g-m30 {
	margin: 30px !important
}
.g-m40 {
	margin: 40px !important
}
.g-m50 {
	margin: 50px !important
}
.g-m60 {
	margin: 60px !important;
}
.g-m90 {
	margin: 90px !important;
}
.g-m100 {
	margin: 100px !important;
}
.g-m120 {
	margin: 120px !important;
}

/* declaration: ml - margin-left */

.g-ml5 {
	margin-left: 5px !important;
}
.g-ml10 {
	margin-left: 10px !important
}
.g-ml15 {
	margin-left: 15px !important;
}
.g-ml20 {
	margin-left: 20px !important
}
.g-ml25 {
	margin-left: 25px !important;
}
.g-ml30 {
	margin-left: 30px !important
}
.g-ml40 {
	margin-left: 40px !important
}
.g-ml50 {
	margin-left: 50px !important
}
.g-ml60 {
	margin-left: 60px !important;
}
.g-ml90 {
	margin-left: 90px !important;
}
.g-ml100 {
	margin-left: 100px !important;
}
.g-ml120 {
	margin-left: 120px !important;
}

/* declaration: mr - margin-right */

.g-mr5 {
	margin-right: 5px !important;
}
.g-mr10 {
	margin-right: 10px !important
}
.g-mr15 {
	margin-right: 15px !important;
}
.g-mr20 {
	margin-right: 20px !important
}
.g-mr25 {
	margin-right: 25px !important;
}
.g-mr30 {
	margin-right: 30px !important
}
.g-mr40 {
	margin-right: 40px !important
}
.g-mr50 {
	margin-right: 50px !important
}
.g-mr60 {
	margin-right: 60px !important;
}
.g-mr90 {
	margin-right: 90px !important;
}
.g-mr100 {
	margin-right: 100px !important;
}
.g-mr120 {
	margin-right: 120px !important;
}

/* declaration: mb - margin-bottom */

.g-mb5 {
	margin-bottom: 5px !important;
}
.g-mb10 {
	margin-bottom: 10px !important
}
.g-mb15 {
	margin-bottom: 15px !important;
}
.g-mb20 {
	margin-bottom: 20px !important
}
.g-mb25 {
	margin-bottom: 25px !important;
}
.g-mb30 {
	margin-bottom: 30px !important
}
.g-mb40 {
	margin-bottom: 40px !important
}
.g-mb50 {
	margin-bottom: 50px !important
}
.g-mb60 {
	margin-bottom: 60px !important;
}
.g-mb90 {
	margin-bottom: 90px !important;
}
.g-mb100 {
	margin-bottom: 100px !important;
}
.g-mb120 {
	margin-bottom: 120px !important;
}

/* declaration: mt - margin-top */

.g-mt5 {
	margin-top: 5px !important;
}
.g-mt10 {
	margin-top: 10px !important
}
.g-mt15 {
	margin-top: 15px !important;
}
.g-mt20 {
	margin-top: 20px !important
}
.g-mt25 {
	margin-top: 25px !important;
}
.g-mt30 {
	margin-top: 30px !important
}
.g-mt40 {
	margin-top: 40px !important
}
.g-mt50 {
	margin-top: 50px !important
}
.g-mt60 {
	margin-top: 60px !important;
}
.g-mt90 {
	margin-top: 90px !important;
}
.g-mt100 {
	margin-top: 100px !important;
}
.g-mt120 {
	margin-top: 120px !important;
}

/* declaration: p - padding*/

.g-p0 {
	padding: 0px !important
}
.g-pl0 {
	padding-left: 0px !important
}
.g-pr0 {
	padding-right: 0px !important
}
.g-pb0 {
	padding-bottom: 0px !important
}
.g-pt0 {
	padding-top: 0px !important
}
.g-p5 {
	padding: 5px !important;
}
.g-p10 {
	padding: 10px !important
}
.g-p15 {
	padding: 15px !important;
}
.g-p20 {
	padding: 20px !important
}
.g-p25 {
	padding: 25px !important;
}
.g-p30 {
	padding: 30px !important
}
.g-p40 {
	padding: 40px !important
}
.g-p50 {
	padding: 50px !important
}
.g-p60 {
	padding: 60px !important;
}
.g-p90 {
	padding: 90px !important;
}
.g-p100 {
	padding: 100px !important;
}
.g-p120 {
	padding: 120px !important;
}

/* declaration: pl - padding-left */

.g-pl5 {
	padding-left: 5px !important;
}
.g-pl10 {
	padding-left: 10px !important
}
.g-pl15 {
	padding-left: 15px !important;
}
.g-pl20 {
	padding-left: 20px !important
}
.g-pl25 {
	padding-left: 25px !important;
}
.g-pl30 {
	padding-left: 30px !important
}
.g-pl40 {
	padding-left: 40px !important
}
.g-pl50 {
	padding-left: 50px !important
}
.g-pl60 {
	padding-left: 60px !important;
}
.g-pl90 {
	padding-left: 90px !important;
}
.g-pl100 {
	padding-left: 100px !important;
}
.g-pl120 {
	padding-left: 120px !important;
}

/* declaration: pr - padding-right */

.g-pr5 {
	padding-right: 5px !important;
}
.g-pr10 {
	padding-right: 10px !important
}
.g-pr15 {
	padding-right: 15px !important;
}
.g-pr20 {
	padding-right: 20px !important
}
.g-pr25 {
	padding-right: 25px !important;
}
.g-pr30 {
	padding-right: 30px !important
}
.g-pr40 {
	padding-right: 40px !important
}
.g-pr50 {
	padding-right: 50px !important
}
.g-pr60 {
	padding-right: 60px !important;
}
.g-pr90 {
	padding-right: 90px !important;
}
.g-pr100 {
	padding-right: 100px !important;
}
.g-pr120 {
	padding-right: 120px !important;
}

/* declaration: pb - padding-bottom */

.g-pb5 {
	padding-bottom: 5px !important;
}
.g-pb10 {
	padding-bottom: 10px !important
}
.g-pb15 {
	padding-bottom: 15px !important;
}
.g-pb20 {
	padding-bottom: 20px !important
}
.g-pb25 {
	padding-bottom: 25px !important;
}
.g-pb30 {
	padding-bottom: 30px !important
}
.g-pb40 {
	padding-bottom: 40px !important
}
.g-pb50 {
	padding-bottom: 50px !important
}
.g-pb60 {
	padding-bottom: 60px !important;
}
.g-pb90 {
	padding-bottom: 90px !important;
}
.g-pb100 {
	padding-bottom: 100px !important;
}
.g-pb120 {
	padding-bottom: 120px !important;
}

/* declaration: pt - padding-top */

.g-pt5 {
	padding-top: 5px !important;
}
.g-pt10 {
	padding-top: 10px !important
}
.g-pt15 {
	padding-top: 15px !important;
}
.g-pt20 {
	padding-top: 20px !important
}
.g-pt25 {
	padding-top: 25px !important;
}
.g-pt30 {
	padding-top: 30px !important
}
.g-pt40 {
	padding-top: 40px !important
}
.g-pt50 {
	padding-top: 50px !important
}
.g-pt60 {
	padding-top: 60px !important;
}
.g-pt90 {
	padding-top: 90px !important;
}
.g-pt100 {
	padding-top: 100px !important;
}
.g-pt120 {
	padding-top: 120px !important;
}

/* declaration: g-radio, g-checkbox  - taken from bootstrap */

.g-radio,
.g-checkbox {
	display:block;
	min-height: 20px;
	padding-left: 20px;
}

.g-radio input[type="radio"],
.g-checkbox input[type="checkbox"] {
	margin-left: -20px;
	float: left;
}

/**********************************************************************************************
 *
 * END Default classes
 *
***********************************************************************************************/

/*PRINT*/

@media print {
	* {
		-ms-filter: none !important;
		text-shadow: none !important;
		filter: none !important;
	}
	@page {
		margin: 0.5cm;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}

	/*p, h2, h3 {orphans: 3; widows: 3}
	h2, h3 {page-break-after: avoid}*/
}
