.m-accordion {
	.m-accordion_item {
		border-bottom: 1px solid red;
		&.active,
		&.is-active {
			.m-accordion_content {
				display: block;
			}
			.m-accordion_title {
				margin-bottom: 10px;
				&:after {
					content: "-";
				}
			} 
		}
	}
	.m-accordion_title {
		position: relative;
		padding: 15px 0;
		font-size: 16px;
		cursor: pointer;
		&:after {
			position: absolute;
			top: 10px;
			right: 10px;
			content: "+";
		}
		.icon-minus_blue {
			display: none;
		}
	}
	.m-accordion_content {
		display: none;
		padding: 0 0 15px;
	}
} 
.b-preCart {
	.m-accordion {
		.m-accordion_item {
			border-bottom: 1px solid $cl-greyD;
			@include bp(tablet_big) {
				border-bottom: 0;
			}
		}
		.m-accordion_title {
			@include bp(tablet_big) {
				display: none;
			}
		}
	}
}
