
.m-calendar {
    margin-top: 20px;
    .m-calendar_controls {
        background: $cl-grey8;
        color: $cl-white;
        height: 40px;
        line-height: 40px;
        .m-calendar_prev {
            cursor: pointer;
            display: block;
            float: left;
            text-align: center;
            width: 15%;
            background: $cl-greyA;
            &:hover {
                background: $cl-greyC;
            }
        }
        .m-calendar_month {
            display: block;
            float: left;
            font-weight: 700;
            text-align: center;
            width: 70%;
        }
        .m-calendar_next {
            cursor: pointer;
            display: block;
            float: left;
            text-align: center;
            width: 15%;
            background: $cl-greyA;
             &:hover {
                background: $cl-greyC;
            }
        }
    }
    .m-calendar_content {
        display: inline-block;
        position: relative;
        width: 100%;
        .m-calendar_grid {
            background-color: $cl-greyE;
            transition: left 0.5s ease 0s;
            overflow: hidden;
            clear: both;
            .m-calendar_days {
                background: $cl-grey9;
                padding-bottom: 5px;
                padding-top: 5px;
                clear: both;
                overflow: hidden;
                .m-calendar_day {
                    color: $cl-white;
                    display: block;
                    float: left;
                    text-align: center;
                    width: 14.28%;
                }
            }
            .m-calendar_item {
                position: relative;
                box-sizing: border-box;
                border-bottom: 1px solid $cl-white;
                color: $cl-grey2;
                display: block;
                float: left;
                font-size: 14px;
                padding-bottom: 12px;
                padding-top: 12px;
                text-align: center;
                width: 14.28%;
                &:after {
                    width: 1px;
                    height: 100%;
                    background: $cl-white;
                    top: 0;
                    left: 0px;
                    content: "";
                    display: block;
                    position: absolute;
                }
                &:hover {
                    cursor: pointer;
                    background: $cl-white;
                }
                &.m-calendar_active {
                    background: $cl-grey2;
                    color: $cl-white;
                }
            }
            .m-calendar_empty {
                background: #eee;
            }
            .past {
                opacity: 0.6;
                background: #fff;
                cursor: default;
            }
            .last-month {
            	opacity: 0.6;
            	background: #fff;
            	cursor: default;
            }
            .next-month {
                 opacity: 0.6;
                 background: #fff;
                 cursor: default;
            }
            .today {
                background: #bbb;
            }
        }
    }
}
.m-calendar_holder {
    height: auto;
    position: absolute;
    z-index: 100;
}
.m-calendar_popover {
    border-radius: 4px;
    background: $cl-white;
    padding: 10px;
    border: 1px solid $cl-greyB;
    margin-top: 40px;

}
