{% extends "base.html" %}
{% set pageType = "cms" %}
{% set page = "cms-entry" %}

{% block content %}
{% include "breadcrumb/_instances/default.html" %}
<div class="b-sidebar">
	{% include "menu/_instances/cms-sidebar.html" %}
</div>
<div class="b-content">
	<h1 class="a-typo a-typo_primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, et.</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque est et nostrum voluptate. Aspernatur atque autem cum error, iusto libero necessitatibus nostrum quos saepe sapiente sint totam voluptates. Aliquam architecto cupiditate eius et eum harum labore minima, molestiae perferendis quisquam repellat sequi tenetur vero! Commodi deserunt dignissimos, facilis fugiat harum itaque labore laboriosam libero maiores non, optio pariatur placeat repudiandae saepe sequi sint suscipit tempora veritatis voluptate voluptatum. Aperiam, ex fugit harum id ipsam labore necessitatibus placeat temporibus ut voluptatem. Amet aperiam asperiores at deleniti deserunt dolorem harum, ipsam laboriosam libero nam perferendis placeat quasi recusandae. Ab asperiores nisi possimus.
</div>
{% endblock %}