<!DOCTYPE html>
<html lang="en" {% if root %}class="{{root}}"{% endif %}>
<head>
  	<meta charset="UTF-8"> 
  	<title>{{camper.core.title}}</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=0, shrink-to-fit=no">
  	<link rel="stylesheet" href="common/css/style.css">
  	{% include "_common/meta.html" %}
</head>
<body {% if pageType %}class="p-{{pageType}}"{% endif %}>
	<div class="b-mainWrapper {% if page %}p-{{page}}{% endif %}">
		{% include "_common/header.html" %}
		<div class="b-mainContent">
			{% block content %} {% endblock %} 
		</div>
		{% if camper.core.footer.outsideWrapper != 1 %}
			{% include "_common/footer.html" %} 
		{% endif %}
	</div>
	{% if camper.core.footer.outsideWrapper == 1 %}
		{% include "_common/footer.html" %} 
	{% endif %}
  	{% include "_common/scripts.html" %}
</body>
</html>