<!-- layout.nunjucks -->

<!DOCTYPE html>
<html lang="en" {% if root %}class="{{root}}"{% endif %}>
<head>
  	<meta charset="UTF-8"> 
  	<title>Camper</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=0, shrink-to-fit=no">
  	<link rel="stylesheet" href="common/css/style.css">
  	{% include "_common/meta.html" %}
</head>
<body {% if pageType %}class="p-{{pageType}}"{% endif %}>
	<div class="b-mainWrapper {% if page %}p-{{page}}{% endif %}">
		<div class="b-mainContent">
		{% include "_common/header.html" %}
		{% block content %} {% endblock %} 
		{% include "_common/footer.html" %} 
		</div>
	</div>
  	{% include "_common/scripts.html" %}
</body>
</html>