
.m-logo {
	position: absolute;
	left: 50%;
	margin-left: -75px;
	max-width: 150px;
	top: 18px;
	z-index: 10;
	@include breakpoint(tablet_big) {
		max-width: 210px;
		float: left;
		position: static;
		padding: 15px 0;
		margin-left: 0;
		margin-top: 20px;
	}
	@include breakpoint(desktop_small) {
		max-width: 260px;
		padding: 0;
		margin-top: 30px;
	}
	@include breakpoint(desktop) {
		max-width: 448px;
		margin-top: 0;
	}
}
.b-cart {
	.m-logo {
		@include breakpoint(desktop) {
			margin-top: 15px;
		}
	}
}
