.a-typo {
	font: 400 12px/17px $font-primary;
	color: $cl-black;
	&.a-typo_primary {
		font: 400 24px/30px $font-primary;
	}
	&.a-typo_secondary {
		font: 400 20px/22px $font-primary;
	}
	&.a-typo_tertiary {
		font: 400 12px/16px $font-primary;
	}
	&.a-typo_big {
		font: 600 32px/36px $font-primary;
	}
	&.a-typo_small {
		font: 400 10px/15px $font-primary;
	}
	&.a-typo_list {
		padding: 10px 20px 20px 13px;
		li {
			padding: 2px 0;
			font-family: $font-primary;
			font-size: 13px;
		}
	}
	&[disabled], &.disabled {
		opacity: .60;
		pointer-events: none;
		cursor: default;
	}
}
