
.m-shortCart {
	border: 1px solid $cl-greyD;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	table {
		margin: 0 25px;
		font-size: 12px;
		td {
			padding: 5px 5px 5px 0;
		}
	}
	.m-shortCart_name {
		color: $cl-grey5;
		a {
			color: $cl-grey5;
		}
	}
	.m-shortCart_headline {
		font-size: 17px;
		margin-bottom: 10px;
		padding: 0 25px 10px;
		border-bottom: 1px solid $cl-greyD;
	}
	.m-shortCart_nav {
		padding: 10px 25px;
	}
	.m-shortCart_price {
		color: $cl-red;
		text-align: right;
		white-space: nowrap;
	}
	.m-shortCart_count {
		color: $cl-grey5;
		text-align: right;
	}
	.m-shortCart_last {
		td {
			font-size: 16px;
			font-weight: 700;
			padding-bottom: 10px;
		}
	}
}
