
.b-cart .m-cartSteps {
	position: relative;
	width: 100%;
	margin-top: 60px;
	clear: both;
	overflow-x: hidden;
	@include breakpoint(tablet) {
		margin-top: 15px;
		float: right;
		clear: none;
		width: 70%;
	}
	.m-cartSteps_step {
		font-size: 14px;
		text-align: center;
		padding-bottom: 10px;
		display: block;
		float: left;
		width: 33.3333%;
		position: relative;
		@include breakpoint(tablet) {
			width: 31.3333%;
			margin-left: 2%;
			font-size: 16px;
			border-bottom: 2px solid $cl-greyD;
		}
		&:nth-child(2) {
			&:after {
				display: block;
				content: "";
				position: absolute;
				top: 9px;
				left: 0;
				width: 5px;
				height: 2px;
				background: #f7f7f7;
				z-index: 10;
				@include breakpoint(tablet) {
					display: none;
				}
			}
			&:before {
				display: block;
				content: "";
				position: absolute;
				top: 9px;
				right: 0;
				width: 5px;
				height: 2px;
				background: #f7f7f7;
				z-index: 10;
				@include breakpoint(tablet) {
					display: none;
				}
			}
		}
	}
	.m-cartSteps_stepWrap {
		position: relative;
		padding-top: 20px;
		@include breakpoint(tablet) {
			padding-top: 0;
		}
		&:after {
			display: block;
			content: "";
			position: absolute;
			top: 9px;
			left: 0;
			width: 100%;
			height: 2px;
			background: $cl-greyD;
			@include breakpoint(tablet) {
				display: none;
			}
		}
		.m-cartSteps_stepNr {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -10px;
			padding: 2px 4px 2px 8px;
			z-index: 5;
			background: #f7f7f7;
			font-family: $font-quaternary;
			font-size: 14px;
			color: $cl-greyD;
			@include breakpoint(tablet) {
				position: static;
				font-family: $font-primary;
				background: none;
				font-size: 12px;
				padding: 0;
				margin: 0;
				color: $cl-grey7;
			}
		}
		.m-cartSteps_stepName {
			text-align: center;
			font-family: $font-quaternary;
			font-weight: 500;
			color: $cl-greyD;
			font-size: 14px;
			@include breakpoint(tablet) {
				font-family: $font-primary;
				color: $cl-grey7;
				font-size: 12px;
			}
			@include breakpoint(tablet_big) {
				font-size: 12px;
			}
		}
	}
	.m-cartSteps_mStep {
		display: none;
	}
	.m-cartSteps_active {
		@include breakpoint(tablet) {
			border-bottom: 2px solid #003375;
		}
		.m-cartSteps_stepNr {
			color: $cl-black;
		}
		.m-cartSteps_stepName {
			color: $cl-black;
			font-size: 14px;
		}
		.m-cartSteps_stepWrap {
			&:after {
				background: #003375;
			}
		}
	}
}

.b-servicesReservation .m-cartSteps {
	position: relative;
	width: 100%;
	margin: 15px 0;
	clear: both;
	overflow: hidden;
	.m-cartSteps_step {
		font-size: 14px;
		text-align: center;
		padding-bottom: 10px;
		display: block;
		float: left;
		width: 20%;
		position: relative;
		@include breakpoint(tablet) {
			font-size: 16px;
			border-bottom: 2px solid $cl-greyD;
		}
		&:nth-child(2) {
			&:after {
				display: block;
				content: "";
				position: absolute;
				top: 9px;
				left: 0;
				width: 5px;
				height: 2px;
				background: #f7f7f7;
				z-index: 10;
				@include breakpoint(tablet) {
					display: none;
				}
			}
			&:before {
				display: block;
				content: "";
				position: absolute;
				top: 9px;
				right: 0;
				width: 5px;
				height: 2px;
				background: #f7f7f7;
				z-index: 10;
				@include breakpoint(tablet) {
					display: none;
				}
			}
		}
	}
	.m-cartSteps_stepWrap {
		position: relative;
		padding-top: 20px;
		@include breakpoint(tablet) {
			padding-top: 0;
		}
		&:after {
			display: block;
			content: "";
			position: absolute;
			top: 9px;
			left: 0;
			width: 100%;
			height: 2px;
			background: $cl-greyD;
			@include breakpoint(tablet) {
				display: none;
			}
		}
		.m-cartSteps_stepNr {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -10px;
			padding: 2px 4px 2px 8px;
			z-index: 5;
			background: #f7f7f7;
			font-family: $font-quaternary;
			font-size: 14px;
			color: $cl-greyD;
			@include breakpoint(tablet) {
				position: static;
				font-family: $font-primary;
				background: none;
				font-size: 12px;
				padding: 0;
				margin: 0;
				color: $cl-grey7;
			}
		}
		.m-cartSteps_stepName {
			text-align: center;
			font-family: $font-quaternary;
			font-weight: 500;
			color: $cl-greyD;
			font-size: 14px;
			@include breakpoint(tablet) {
				font-family: $font-primary;
				color: $cl-grey7;
				font-size: 12px;
			}
			@include breakpoint(tablet_big) {
				font-size: 12px;
			}
		}
	}
	.m-cartSteps_mStep {
		display: none;
	}
	.m-cartSteps_active {
		@include breakpoint(tablet) {
			border-bottom: 2px solid #003375;
		}
		.m-cartSteps_stepNr {
			color: $cl-black;
		}
		.m-cartSteps_stepName {
			color: $cl-black;
			font-size: 14px;
		}
		.m-cartSteps_stepWrap {
			&:after {
				background: #003375;
			}
		}
	}
}
