
.m-cartFeatures {
	padding: 15px 25px;
	margin-bottom: 15px;
	background: $cl-white;
	border: 1px solid $cl-greyD;
	&.m-cartFeatures_helpBox {
		.m-cartFeatures_icon {
			float: left;
			width: 25%;
			i {
				padding-top: 10px;
				font-size: 30px;
				color: $cl-grey2;
			}
		}
	}
	.m-cartFeatures_item {
		padding: 5px 0;
	}
	.m-cartFeatures_icon {
		float: left;
		width: 25%;
		i {
			padding-top: 10px;
			font-size: 30px;
			color: $cl-grey2;
		}
	}
	.m-cartFeatures_txt {
		float: left;
		width: 75%;
		padding-top: 10px;
		font-family: $font-primary;
		font-size: 15px;
	}
	.m-cartFeatures_nr {
		padding: 10px 0;
		clear: both;
		font-family: $font-secondary;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: .5px;
		color: $cl-black;
		text-align: center;
		text-transform: uppercase;
	}
	.m-cartFeatures_help {
		padding: 5px 0;
		font-family: $font-primary;
		font-size: 12px;
		text-align: center;
	}
}
