
.m-cartOptions {
	.m-cartOptions_headline  {
		padding: 15px 0 5px;
		margin: 0;
		color:  $cl-black;
		font: 20px/22px $font-quaternary;
		@include breakpoint(tablet) {
			padding: 15px 0 0;
			font: 17px/17px $font-primary;
		}
		span {
			color: $cl-grey7;
		}
	}
	.m-cartOptions_item {
		margin-right: 20px;
		font-size: 14px;
		padding: 5px 0;
		@include breakpoint(tablet) {
			padding: 10px 0 0 0;
			float: left;
		}
		label {
			cursor: pointer;
		}
	}
	.m-cartOptions_itemInfo {
		font-size: 12px;
		color: #df0000;
		i {
			display: none;
			@include breakpoint(tablet) {
				font-size: 14px;
				display: inline-block;
				color: #555;
			}
		}
	}
	.m-cartOptions_box {
		border-bottom: 1px solid $cl-greyD;
		padding: 0 0 15px 0;
		.m-cartOptions_shipping {
			@include breakpoint(tablet) {
				padding: 10px 0;
			}
			.s-select {
				width: 300px;
			}
		}
		.m-cartOptions_payment {
			padding: 10px 0;
		}
		input {
			position: relative;
			top: 2px;
		}
		&:last-child {
			border-bottom: 0;
		}
	}
	&.s-summaryOptions {
		.cartOptions_box {
			padding: 10px 0;
		}
		.m-cartOptions_headline {

		}
	}
	.m-cartOptions_summaryData {
		.m-cartOptions_item {
			float: none;
			padding: 10px 0 0;
		}
	}
}
.b-cartEnd {
	.m-cartOptions {
		.m-cartOptions_box {
			.m-cartOptions_headline {
				font: 15px/22px $font-primary;
			}
		}
	}
}
