

.m-label {
	text-align: center; 
	font-size: 12px;   
	font-weight: 700; 
	padding: 6px 10px;
	line-height: 19px;
	cursor: default; 
	i {   
		margin: 0 2px;  
		font-size: 10px; 
	} 
	&.m-label_primary {
		background: #337ab7
	}
	&.m-label_secondary {
		background: #5cb85c;
	}
	&.m-label_tertiary {
		background: #f0ad4e;
	}
	&.m-label_error {
		background: #d9534f;
	}
	&.m-label_small {
		padding: 2px 8px;
		font-size: 10px;
		line-height: 13px;
	}
	&[disabled], &.disabled {
		cursor: default;
		pointer-events: none;
	}
}
