{% macro loader(attr) %}
	{% for item in attr %}
		{% set templateName = "_common/header/"~item~"-loader.html" %}
		{% include templateName %}	
	{% endfor %}
{% endmacro%}


{% set primary %}
	{% if camper.core.header.primary.active == 1 %}
	<div class="b-header_primary clearfix2" {% if camper.core.header.primary.attributes %}{{ camper.core.header.primary.attributes|safe }}{% endif %}>
		{% if camper.core.header.primary.order == 1 %}
			{{loader(camper.core.header.primary.core)}}
		{% endif %}
		<div class="b-header_wrapper clearfix2">
			{{loader(camper.core.header.primary.wrapped)}}
		</div>
		{% if camper.core.header.primary.order != 1 %}
			{{loader(camper.core.header.primary.core)}}
		{% endif %}
	</div>
	{% endif %}
{% endset %}

{% set secondary %}
	{% if camper.core.header.secondary.active == 1 %}
	<div class="b-header_secondary clearfix2" {% if camper.core.header.secondary.attributes %}{{ camper.core.header.secondary.attributes|safe }}{% endif %}>
		{% if camper.core.header.secondary.order == 1 %}
			{{loader(camper.core.header.secondary.core)}}
		{% endif %}
		<div class="b-header_wrapper clearfix2">
			{{loader(camper.core.header.secondary.wrapped)}}
		</div>
		{% if camper.core.header.secondary.order != 1 %}
			{{loader(camper.core.header.secondary.core)}}
		{% endif %}
	</div>
	{% endif %}
{% endset %}

{% set tertiary %}
	{% if camper.core.header.tertiary.active == 1 %}
		{{loader(camper.core.header.tertiary.wrapped)}}
	{% endif %}
{% endset %}

<header class="b-header" {{camper.core.header.attr}}>
	{% if camper.core.header.order == 1 %}
		{{ primary|safe }}
	{% endif %}
		{{ secondary|safe }}
	{% if camper.core.header.order != 1 %}
		{{ primary|safe }}
	{% endif %}
	{{ tertiary|safe }}
</header>
