{% set elements = {
		"headerAttr": config.core.header.attr, 
		"hmbg": "_common/header/hmbg-loader.html",
		"wide": "_common/header/wide-header-loader.html",
		"wrapped": "_common/header/wrap-header-loader.html",
		"logo": "_common/header/logo-loader.html",
		"cartQuick": "_common/header/cartQuick-loader.html",
		"search": "_common/header/search-loader.html",
		"additionals": "_common/header/additionals-loader.html",
		"additionalsSecondary": "_common/header/additionalsSecondary-loader.html",
		"menu": "_common/header/menu-loader.html",
		"tertiary": "_common/header/tertiary-loader.html"
	}
%}


header