{% set elements = {
		"footerAttr": config.core.footer.attr,
		"top": "base/footer/footer-top.html.twig",
		"footer": "base/footer/footer-loader.html.twig",
		"copyrights": "base/footer/copyrights-loader.html.twig",
		"bottom": "base/footer/footer-bottom.html.twig",
	}
%}

<footer class="b-footer clearfix2" {{elements.footerAttr}}>
	{% if config.core.footer.active == 1 %}
		{% if config.core.footer.order is not defined or config.core.footer.order == 1 %}
			{% for item in config.core.footer.core %}
				{% include attribute(elements, item) %}
			{% endfor %}
			<div class="b-footer_wrapper {{config.core.footer.wrapperClass}}">
				{% for item in config.core.footer.wrapped %} 
					{% include attribute(elements, item) %}
				{% endfor %}
			</div>
		{% else %}
			<div class="b-footer_wrapper {{config.core.footer.wrapperClass}}">
				{% for item in config.core.footer.wrapped %} 
					{% include attribute(elements, item) %}
				{% endfor %}
			</div>
			{% for item in config.core.footer.core %}
				{% include attribute(elements, item) %}
			{% endfor %}
		{% endif %}
	{% endif %}
</footer>
{% for item in config.core.footer.afterFooter %} 
	{% include attribute(elements, item) %}
{% endfor %}

