$cl-white: #fff;
$cl-black: #000;
$cl-grey1: #111111;
$cl-grey2: #222222;
$cl-grey3: #333333;
$cl-grey4: #444444;
$cl-grey5: #555555;
$cl-grey6: #666666;
$cl-grey7: #777777;
$cl-grey8: #888888;
$cl-grey9: #999999;
$cl-greyA: #aaaaaa;
$cl-greyB: #bbbbbb;
$cl-greyC: #cccccc;
$cl-greyD: #dddddd;
$cl-greyE: #eeeeee;

$cl-blue00: #0072bc; 
$cl-orangeFF: #ffec9f;
$cl-brown43: #433706;