
$rwd: true;

$break_point1: if($rwd, 320px, 1px);
$break_point2: if($rwd, 480px, 1px);
$break_point3: if($rwd, 640px, 1px);
$break_point4: if($rwd, 768px, 1px);
$break_point5: if($rwd, 980px, 1px);
$break_point6: if($rwd, 1024px, 1px);
$break_point7: if($rwd, 1200px, 1px);
$break_point8: if($rwd, 1370px, 1px);

@mixin bp($name) {
	@if $name == "phone_small" {
		@media screen and (min-width: $break_point1) {
			@content;
		}
	}
	@else if $name == "phone" {
		@media screen and (min-width: $break_point2) {
			@content;
		}
	}
	@else if $name == "phone_big" {
		@media screen and (min-width: $break_point3) {
			@content;
		}
	}
	@else if $name == "tablet" {
		@media screen and (min-width: $break_point4) {
			@content;
		}
	}
	@else if $name == "tablet_big" {
		@media screen and (min-width: $break_point5) {
			@content;
		}
	}
	@else if $name == "desktop_small" {
		@media screen and (min-width: $break_point6) {
			@content;
		}
	}
	@else if $name == "desktop" {
		@media screen and (min-width: $break_point7) {
			@content;
		}
	}
	@else if $name == "desktop_big" {
		@media screen and (min-width: $break_point8) {
			@content;
		}
	}
	@else {
		@media screen and (min-width: $name) {
			@content;
		}
	}
}
