
.m-offerFlags {
	text-align: center;
	@include breakpoint(tablet_big) {
		text-align: left;
	}
	.m-offerFlags_item {
		@include inline-block;
		margin-right: 10px;
		font: 700 14px/18px $font-primary;
		text-transform: uppercase;
		@include breakpoint(desktop_small) {
			display: block;
			float: left;
		}
	}
}
