
.m-offerShowData {
    border: 1px solid $cl-greyD;
    @include breakpoint(tablet) {
        border: 0;
    }
    .m-offerShowData_row {
        display: none;
        padding: 0;
        border-bottom: 1px solid $cl-greyD;
        @include breakpoint(tablet) {
            display: block;
        }
        i {
            color: $cl-grey7;
        }
    }
    .is-opened {
        .m-offerShowData_row {
            display: block;
        }
        .m-offerShowData_toggle {
            &:after {
                @include rotate(90deg);
            }
        }
    }
    .m-offerShowData_title {
        position: relative;
        padding: 10px 15px;
        font-family: $font-secondary;
        font-size: 17px;
        color: $cl-black;
        background: $cl-greyE;
        border-bottom: 1px solid $cl-greyD;
        @include breakpoint(tablet) {
            padding: 4px 0;
            font-family: $font-primary;
            font-size: 17px;
            background: $cl-white;
            border-bottom: 0;
        }
        .m-offerShowData_toggle {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
            &:after {
                @include transition(all .2s linear);
                position: absolute;
                top: 10px;
                right: 20px;
                display: block;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                color: $cl-black;
                cursor: pointer;
                content: "\f105";
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            @include breakpoint(tablet) {
                display: none;
            }
        }
    }
    .m-offerShowData_name {
        font-weight: 700;
        color: $cl-black;
        @include breakpoint(phone) {
            float: left;
            width: 24%;
        }
        @include breakpoint(phone_big) {
            width: 40%;
        }
        p {
            padding: 5px 10px;
            @include breakpoint(tablet) {
                padding: 8px 10px;
            }
        }
    }
    .m-offerShowData_param {
        @include breakpoint(phone) {
            float: left;
            width: 76%;
        }
        @include breakpoint(phone_big) {
            width: 60%;
        }
        p {
            padding: 5px 10px;
            @include breakpoint(tablet) {
                padding: 8px 10px;
            }
        }
    }
}
