

.m-offerSet {
	position: relative;
	&,
	& * {
		@include box-sizing(border-box);
	}
	.m-offerSet_gallery {
		@include breakpoint(tablet) {
			position: absolute;
			top: 0;
			width: 40%;
			float: left;
			z-index: 10;
		}
	}
	.m-offerSet_products {
		@include breakpoint(tablet) {
			width: 60%;
			float: right;
			position: relative;
		}
	}
	.m-offerSet_header {
		@include breakpoint(tablet) {
			@include display-flex;
		}
		@include breakpoint(desktop_small) {
			display: block;
		}
		.m-offerSet_price {
			text-align: left;
		}
		.m-offerSet_priceNew,
		.m-offerSet_priceOld {
			margin-right: 5px;
		}
		&.sticky {
			position: absolute;
			left: 0;
			right: 0;
			background: $cl-white;
			z-index: 10;
			@media (max-width: 768px) {
				position: fixed;
				top: 0 !important;
			}
			.m-offerSet_save {
				display: none;
				@include breakpoint(tablet) {
					display: inline-block;
				}
			}
			.m-offerSet_save {
				display: none;
				@include breakpoint(tablet) {
					display: inline-block;
				}
			}
			.m-offerSet_textCta {
				display: none;
				@include breakpoint(tablet) {
					display: inline;
				}
			}
			.m-offerSet_cta {
				position: absolute;
				top: 10px;
				right: 10px;
				@include breakpoint(tablet) {
					position: static;
				}
			}
		}
	}
	.m-offerSet_txt {
		margin-bottom: 15px;
		@include breakpoint(tablet) {
			@include flex(1);
		}
		@include breakpoint(desktop_small) {
			display: block;
			width: 65%;
			float: left;
			vertical-align: middle;
		}
	}
	.m-offerSet_flag {
		display: none;
		@include breakpoint(tablet) {
			display: block;
		}
	}
	.m-offerSet_setName {
	}
	.m-offerSet_cta {
		@include breakpoint(tablet) {
			width: 190px;
		}
		@include breakpoint(desktop_small) {
			float: right;
			width: 35%;
			text-align: right;
		}
		.m-offerSet_buy {
			@include breakpoint(tablet) {
				display: block;
			}
		}
	}
	.m-offerSet_item {
		padding: 0 15px;
		margin: 30px 0 0;
		position: relative;
		@include breakpoint(phone) {
			width: 50%;
			float: left;
		}
		@include breakpoint(tablet_big) {
			margin: 50px 0 0;
			width: 33.3333%;
		}
	}
	.m-offerSet_checkbox {
		input[type="checkbox"] {
			vertical-align: middle;
			margin-right: 3px;
		}
		&.is-required {
			display: none;
		}
	}
	.m-offerSet_itemName {
		display: none;
	}
	.m-offerSet_photo {
		margin-top: 10px;
		a img {
			display: block;
			margin: 0 auto;
			max-height: 140px;
		}
	}
	.m-offerSet_offerName {
		text-align: center;
		margin: 15px 0 5px;
		@include breakpoint(phone) {
			height: 42px;
				overflow: hidden;
		}
		@include breakpoint(tablet) {
			margin: 15px 0;
		}
	}
	.m-offerSet_price {
		text-align: center;
	}
	.m-offerSet_priceOld {
		display: inline-block;
		text-decoration: line-through;
	}
	.m-offerSet_priceNew {
		display: inline-block;
	}
	.m-offerSet_save {
		display: inline-block;
	}
	.m-offerSet_selectBox {
		margin-top: 5px;
		@include breakpoint(tablet) {
			margin-top: 15px;
		}
		.selectric-wrapper {
			margin: 0 auto;
			max-width: 250px;
			text-transform: lowercase;
		}
	}
	.m-offerSet_selectLabel {
		display: none;
	}
	.m-offerSet_variants {
		display: none;
		&.is-active {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
			background: $cl-white;
		}
	}
	.m-offerSet_closeVariants {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 6;
		font-size: 20px;
	}
}
