 @import "_vars/*.scss";
 @import "_defaults/*.scss";
 body {
	font-size: 15px;
	font-family: $font-primary; 
	line-height: 22px;
	font-weight: 300;
	a {
		font-size: 15px;
		text-decoration: none;
	} 
}
@import "atoms/*.scss";
@import "modules/**/*.scss";
@import "blocks/*.scss";
.b-mainContent {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	@include bp(desktop) {
		padding: 0;
	}
}

