{% set accordionData = [{
	"title": "Lorem ipsum dolor sit amet",
	"accordion_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta congue eleifend. Nulla facilisi. ",
	"class": "",
	"state": 1,
	"active": 1
},
{
	"title": "Phasellus sed pharetra leo.",
	"accordion_text": "Phasellus sed pharetra leo. Quisque blandit arcu vitae erat dignissim, quis pellentesque mi sodales. Sed rutrum leo nisl, ac varius elit faucibus ac. Fusce efficitur blandit rhoncus. ",
	"class": "is-printVisable",
	"state": 1,
	"active": 0
},
{
	"title": "Praesent a pellentesque purus.",
	"accordion_text": "Praesent a pellentesque purus. Ut sed mi sagittis, finibus nibh vitae, tempor est. Sed aliquam, quam ut gravida consequat, lorem diam malesuada sapien, a suscipit ex orci quis tortor. Curabitur mollis auctor tellus vel maximus. Sed in sagittis ipsum, mollis blandit massa.",
	"class": "",
	"state": 1,
	"active": 0
}] %}
<h2 class="m-typo m-typo_secondary">Podgląd modułu w aplikacji atoms</h2>
<div class="g-col-md-4 g-mb30">
	{% include '_modules/accordion/accordion.html.twig'
		with {
			"accordionData": accordionData,
			"accordionId": "js-offerTabs_acc",
			"accordionItem": "js-offerTabs_item",
			"accordionHeadline": "js-offerTabs_title"
		}
%}
</div>
<script>
$(document).ready(function(){
	if (typeof enp.APP.modules.accordion !== 'undefined') {
    var acc1,
        acc2;

    acc1 = new enp.APP.modules.accordion();
    acc2 = new enp.APP.modules.accordion();

    acc1.init({
        'container': '#js-m-accordion',
        'parentElement': '.js-m-accordion_item',
        'element': '.js-m-accordion_title',
        'active': 'is-active',
        'callback': acc1Call
    });

    acc2.init({
        'container': '#js-offerTabs_acc',
        'parentElement': '.js-offerTabs_item',
        'element': '.js-offerTabs_title',
        'active': 'is-active',
        'tabsTrigger': true
    });
    var acc1Call = function() {
        console.log('callback function');
    }
    var acc2Call= function() {
        console.log('callback function 2');
    };
}
});
</script>
