.b-scrollTop {
	display: inline-block;
	display: none !important;
	position: absolute;
	position: fixed;
	top: 100%;
	right: 15px;
	right: 20px;
	bottom: 40px;
	left: 0;
	width: 0;
	height: 0;
	height: 2px;
	padding-bottom: 4px;
	border-width: 0 6px 7px;
	border-style: solid;
	font-size: 14px;
	font-weight: 700;
	content: '';
	cursor: pointer;
	opacity: 0;
	opacity: 1;
	transition: opacity 1s ease-in-out;
	z-index: 2
}