{% macro footer(
    data,
    parent,
    selector = {
        class: "clearfix"
    },
    item = {
        content: null,
        position: "",
        class: "",
        passedData: {},
        title:""
    }
) %}

{% macro footerItem(
    title,
    content
) %}
    <div class="m-footer_box {{item.class}}">
        <h3 class="m-footer_headline">{{title|safe}}</h3>
        <div class="m-footer_content">
            {{content|safe}}
        </div>
    </div>
{% endmacro %}

{% macro footerList(
    title,
    items,
    content,
    noJS = false
) %}
    <div class="m-footer_box {{data.selector.class}}">
        <h3 class="m-footer_headline">{{title|safe}}</h3>
        {% for item in items %}
            {% if loop.first %}
                <ul class="m-footer_content {% if noJS != false %}js-footer_content{% endif %}">
            {% endif %}
                    <li><a href="{{item.url}}">{{item.name|safe}}</a></li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% endfor %}
        {{ content|safe }}
    </div>
{% endmacro %}

<div class="m-footer {{selector.class}}">
    {% set visible = false %}
    {% for data in data %}
        {% if item.content != null %}
            {% if loop.index == item.position and visible == false %}
                {{footerItem(title=item.title, content=item.content)}}
                {% set visible = true %}
            {% endif %}
            {{footerList(title=data.title, content=data.content,items=data.items)}}
            {% if loop.last and visible == false %}
                {{footerItem(title=item.title, content=item.content)}}
                {% set visible = true %}
            {% endif %}
        {% else %}
            {{footerList(title=data.title, content=data.content,items=data.items)}}
        {% endif %}
    {% endfor %}
</div>
{% endmacro %}
