{% macro menu(
	data,
	headline,
	submenuActive = false,
	submenuData,
	styleAlignVertically,
	styleVerticalAlignColumns,
	styleVerticalAlignColumnName,
	selectorClass = "clearfix",
	selectorListClass,
	selectorProfileId,
	selectorId,
	selectorVerticalAlignColumnClass,
	toggleActive = 0,
	toggleAttributes = "",
	toggleHeader = "top menu toggle",
	toggleIcon = null,
	noJS = true,
	extElement,
	afterMenuZone)
%}

{% macro toggle(
	active = toggleActive,
	attributes = toggleAttributes,
	header = toggleHeader,
	icon = toggleIcon)
%}
	{% if active == 1 %}
		<span class="m-menu_toggle" id="js-menu_toggle" {{ attributes|safe }}>
			{{header|safe}}
			{% if icon != null %}
				<i class="{{icon}}"></i>
			{% endif %}
		</span>
	{% endif %}

{% endmacro %}

{% macro list(
	data = data,
	noJS = noJS,
	listClass = selectorListClass )
%}
	<ul class="m-menu_list clearfix2 {{listClass}}">
		{% for data in data %}
		<li class="m-menu_item clearfix2 {{data.class}}{% if noJS == false %} js-menu_item {% endif %}"{% if data.attributes %} 	{{ data.attributes|safe }}{% endif %}>
			{% if data.item %}
			<a class="m-menu_link {{data.linkClass}}" href="{{data.url}}" {{data.linkAttr|safe}}>
				{{data.item|safe}}
				{{data.itemContent|safe}}
			</a>
			{% endif %}
		</li>
		{% endfor %}
	</ul>

{% endmacro %}

	<nav class="m-menu {{selectorClass}}" {% if selectorId != null %}id="{{selectorId}}"{% endif %}>
		{{toggle()}}
		{{headline|safe}}
		{% if toggleActive %}
			<div id="{{selectorProfileId}}" class="m-menu_wrapper">
		{% endif %}
			{{list()}}
		{% if toggleActive %}
			</div>
		{% endif %}
		{{afterMenuZone|safe}}
	</nav>

{% endmacro %}