{% macro menu(
	data,
	headline,
	submenuActive = false,
	submenuData,
	styleAlignVertically,
	styleVerticalAlignColumns,
	styleVerticalAlignColumnName,
	selectorClass = "clearfix",
	selectorListClass,
	selectorProfileId,
	selectorId,
	selectorVerticalAlignColumnClass,
	toggleActive = 0,
	toggleAttributes: "",
	toggleHeader: "top menu toggle",
	toggleIcon: null,
	noJS = true,
	extElement,
	afterMenuZone
	)
%}

{% macro toggleMenu(toggle)%}
	{% if toggle.active == 1 %}
		<span class="m-menu_toggle" id="js-menu_toggle" {{ toggle.attributes|safe }}>
			{{toggle.header|safe}}
			{% if toggle.icon != null %}
				<i class="{{toggle.icon}}"></i>
			{% endif %}
		</span>
	{% endif %}
{% endmacro %}

{% macro item(data,noJS)%}
	{% for data in data %}
	<li class="m-menu_item clearfix2 {{data.class}}{% if noJS == false %} js-menu_item {% endif %}"{% if data.attributes %} 	{{ data.attributes|safe }}{% endif %}>
		{% if data.item %}
		<a class="m-menu_link {{data.linkClass}}" href="{{data.url}}" {{data.linkAttr|safe}}>
			{{data.item|safe}}
			{{data.itemContent|safe}}
		</a>
		{% endif %}
	</li>
	{% endfor %}
{% endmacro %}

<nav class="m-menu {{selector.class}}" {% if selector.id != null %}id="{{selector.id}}"{% endif %}>
	{{toggleMenu(toggle=toggle)}}
	{{headline|safe}}
	{% if toggle.active %}
		<div id="{{selector.profileId}}" class="m-menu_wrapper">
	{% endif %}
		<ul class="m-menu_list clearfix2 {{selector.listClass}}">
			{{item(data=data, noJS=noJS)}}
		</ul>
	{% if toggle.active %}
		</div>
	{% endif %}
	{{afterMenuZone|safe}}
</nav>

{% endmacro %}